<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%-5p] [%t] (%C{1}) %m%n" />
		</Console>
		<RollingFile name="File" fileName="log/${sys:serviceId}.log"
			filePattern="log/${sys:serviceId}_%d{yyyyMMdd}-%i.log">
			<PatternLayout
				pattern="[%d{yyyy-MM-dd HH:mm:ss,SSS}] [%-5p] [%t] (%C{1}) %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="5 MB" />
			</Policies>
		</RollingFile>
	</Appenders>
	<Loggers>
		<Logger name="com.vishalzanzrukia" level="INFO" />
		<Root level="INFO">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>